@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
  .cs-basecontainer {
    @apply flex max-w-[1440px] flex-col px-4 sm:px-10;
  }
  .cs-w-full-l {
    @apply relative left-1/2 right-1/2 ml-[-50vw] mr-0 w-[50vw];
  }
  .cs-w-full-r {
    @apply relative left-1/2 right-1/2 ml-0 mr-[-50vw] w-[50vw];
  }

  .cs-w-full {
    @apply relative left-1/2 right-1/2 mx-[-50vw] w-screen;
  }
}

/* Globals */

@font-face {
  font-family: "firasans-regular";
  src:
    url("/dist/fonts/firasans-regular-webfont.woff2") format("woff2"),
    url("/dist/fonts/firasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inconsolata-semiexpanded';
  src: url('/dist/fonts/InconsolataSemiExpanded-Regular.woff2') format('woff2'),
      url('/dist/fonts/InconsolataSemiExpanded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ibm-plex-sans';
  src: url('/dist/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
      url('/dist/fonts/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inconsolata-semiexpanded-bold';
  src: url('/dist/fonts/InconsolataSemiExpanded-Bold.woff2') format('woff2'),
      url('/dist/fonts/InconsolataSemiExpanded-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'ibm-plex-sans';
}
/* Debug css */
/* * {
  outline: 1px solid #f00 !important;
}  */

/* Compositions */
.flow-half > * + * {
    margin-top: 8px;
  }
  .flow > * + * {
    margin-top: 16px;
  }
  .flow2-5> * + *{
    margin-top: 3rem;
  }
  .flow5 > * + * {
    margin-top: 5rem;
  }

  .flow-pt > * + *{
    padding-top: 1rem;
  }

/* Utilities */
.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cs-grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .cs-grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .cs-grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .cs-grow-wrap > textarea,
  .cs-grow-wrap::after {
    /* Identical styling required!! */
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }

  /* .lg-ai-message ul > li .cs-ai-name {
    border: 2px solid red;
  }

  .lg-ai-message ul >li .cs-ai-name ~ .cs-ai-name{
    border: none
  } */
