@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
  .cs-basecontainer {
    @apply flex max-w-[1440px] flex-col px-4 sm:px-10;
  }
  .cs-w-full-l {
    @apply relative left-1/2 right-1/2 ml-[-50vw] mr-0 w-[50vw];
  }
  .cs-w-full-r {
    @apply relative left-1/2 right-1/2 ml-0 mr-[-50vw] w-[50vw];
  }
  .componentcontainer {
    @apply relative left-1/2 right-1/2 mx-[-50vw] flex w-screen flex-col items-center justify-center py-20;
  }
  .cs-w-full {
    @apply relative left-1/2 right-1/2 mx-[-50vw] w-screen;
  }
  .link {
    @apply underline decoration-4 underline-offset-4 transition-colors;
  }
}

/* Globals */

@font-face {
  font-family: "fira-sansregular";
  src:
    url("/fonts/firasans-regular-webfont.woff2") format("woff2"),
    url("/fonts/firasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Debug css */
/* * {
  outline: 1px solid #f00 !important;
}  */

/* Compositions */
.flow-half > * + * {
    margin-top: 8px;
  }
  .flow > * + * {
    margin-top: 16px;
  }
  .flow2-5> * + *{
    margin-top: 3rem;
  }
  .flow5 > * + * {
    margin-top: 5rem;
  }

  .flow-pt > * + *{
    padding-top: 1rem;
  }

/* Utilities */
.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cs-grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .cs-grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .cs-grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .cs-grow-wrap > textarea,
  .cs-grow-wrap::after {
    /* Identical styling required!! */
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }

